<section>

<form class="example-form"  [formGroup]="myForm">
  <mat-form-field class="example-full-width"  appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width"  appearance="outline">
    <mat-label>Phone Number</mat-label>
    <span matPrefix>+ &nbsp;</span>
    <input formControlName="phone_Number" type="tel" matInput placeholder="77-777-7777">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

<p>

</p>
<form [formGroup]="myForm" >
  <div formArrayName="myFormArray">
    <div *ngFor="let group of myFormArray.controls; let i = index" [formGroupName]="i">
      <!-- <input formControlName="input1" type="text">
      <input formControlName="input2" type="text"> -->
      <mat-grid-list cols="4" rowHeight="">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Select product</mat-label>
            <mat-select  #myselect required formControlName="input1" (selectionChange)="onOptionSelected($event, group)"  (change)="calculateTotal5(myselect.value, qty.value,i)">
              <mat-option [value]="item.value" *ngFor="let item of Rood">{{item.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        {{ group.get('selectedOption')?.value?.viewValue }}
        <mat-grid-tile>  <mat-form-field appearance="outline" >
          <mat-label>QTY</mat-label>
          <input #qty matInput type="number" formControlName="input2" (change)="calculateTotal5(myselect.value, qty.value,i)">
        </mat-form-field></mat-grid-tile>
        <mat-grid-tile>
          <!-- <mat-form-field appearance="outline"> -->
            <mat-label >
              {{ calculateTotal(myselect.value, qty.value) }}
            </mat-label>
            <!-- <input #qty matInput type="number"  hidden="true" formControlName="qtyandproduct"  [value]="calculateTotal(myselect.value, qty.value)"> -->
          <!-- </mat-form-field> -->
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-icon-button color="primary"  (click)="removeRow(i)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </mat-grid-tile>
        {{selectedFoodText}}
        <!-- <mat-divider></mat-divider> -->
      </mat-grid-list>
      <!-- Add more inputs as needed -->
      <!-- <button type="button" (click)="removeRow(i)">Remove</button> -->
    </div>
  </div>
  <!-- <p>Total of input1 values: $ {{ calculateTotalInput1()}}</p> -->
  <mat-grid-list cols="4" rowHeight="">
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
</mat-grid-tile>
    <mat-grid-tile>
      <button mat-fab color="primary" (click)="addNewRow()">
        <mat-icon class="mat-18">add</mat-icon>
      </button>
  </mat-grid-tile>
  </mat-grid-list>
  <h1>Total: {{ totalQtyAndProduct }}</h1>

  <!-- <button type="button" >Add New Row</button> -->
  <button type="submit" (click)="onSubmit()">Submit</button>

</form>

  <!-- <div class="number-input-container">
    <button mat-mini-fab color="primary" (click)="decrement()">
      -
    </button>
    <input type="number" [value]="value" readonly>
    <button mat-mini-fab color="primary" (click)="increment()">
      +
    </button>
  </div> -->

</form>
</section>
